#contenedorinstalacion {
	margin-top:50px;
	
}
.jumbotron {
	background-color:#e7e7e7;
	
}
#logosuperior {
	vertical-align: middle;
	margin-top: 7px;
}
#ultimoconfiguracion {
	
	margin-bottom: 40px;
}
.introducionconf {
	font-size: 40%;
	
}
.formularioiniciosesion {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
	background:#f1f1f1;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius:4px;
}
.conexioncuerpo {
	margin-top:90px;
}
.form-signin-heading{
	margin: 2px;
margin-bottom: 12px;
	
}
.admin-container {
	margin-top:50px;
	
}
